$dark: #2a2b4b;
$dark2: #292a4b;
$white: #fff;

.banner {
    height: 910px;
    position: relative;

    @media(min-width: 640px) {}

    @media(max-width: 768px) {}

    @media(min-width: 992px) {}

    @media(min-width: 1199px) {}

    @media(min-width: 1440px) {}

    @media(min-width: 1760px) {}

    .banner-image {
        img {
            position: absolute;
            max-width: 1634px;
            width: 1300px;
            margin: 0 auto;
            transform: translate(-50%, 0);
            padding: 0 35px;
            left: 50%;
            top: -130px;

            @media(max-width: 768px) {}

            @media(min-width: 640px) {}

            @media(min-width: 768px) {}

            @media(min-width: 992px) {}

            @media(min-width: 1199px) {}

            @media(min-width: 1440px) {}

            @media(min-width: 1760px) {}
        }
    }

    .banner-content {
        top: 150px;
        position: relative;
        z-index: 1;

        // left: 15px;
        // right: 15px;
        @media(min-width: 640px) {}

        @media(min-width: 768px) {}

        @media(min-width: 992px) {}

        @media(min-width: 1199px) {}

        @media(min-width: 1440px) {}

        @media(min-width: 1760px) {}

        .banner-copy {
            background: rgba(0, 0, 0, 0.75);
            display: inline-block;
            padding: 0px 30px;
            display: flex;
            align-items: center;
            width: 490px;
            padding: 5px 30px;

            h1 {
                span {
                    color: #47eff8;
                }
            }
        }

        .banner-button {
            max-width: 570px;
            display: flex;

            @media(min-width: 992px) {
                justify-content: flex-end;
            }

            a {
                background-color: #e2015b;
                color: #fff;
                font-weight: 700;
                padding: 14px 20px;
                display: inline-block;
                -webkit-box-shadow: 0 0 20px 0 #000;
                box-shadow: 0 0 20px 0 #000;
                margin: 30px 50px 0 0;
                letter-spacing: 1px;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                text-decoration: none;
                text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
                margin: 15px auto;
                font-size: 18px;
                padding: 5px 20px;
                max-width: 240px;
                text-align: center;
                line-height: 1.3;
                text-shadow: 0 0 10px #000000b3;

                &:hover {
                    background-color: #47eff8;
                }
            }
        }
    }

    h1,
    h2 {
        font-weight: 700;
        color: $white;
        font-size: 17px;

        @media(min-width: 768px) {
            font-size: 27px;
        }
    }
}


.logotype {
    height: 200px;
    margin: 0px 0 0px 0;
    bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 10px;
        height: 180px;
        background: #000000ab;
        z-index: -1;
        filter: blur(25px);
    }

    h2 {
        position: absolute;
        color: #000;
        background: #3ac2cf;
        font-size: 24px;
        font-weight: 700;
        top: -100px;
        max-width: 230px;
        text-align: center;
        left: calc(50% - 80px);
        padding: 5px 25px;

        &:after {
            position: absolute;
            content: '';
            background: #3ac2cf;
            left: 5px;
            top: 0;
            height: 50px;
        }

        &::before {
            position: absolute;
            content: '';
            background: #3ac2cf;
            left: 65px;
            top: 0;
            height: 120px;
            width: 4px;
            z-index: -1;
        }
    }

    .logos__wrapper {
        display: block;
        margin: 0 auto;
        width: 900px;
        padding-top: 30px;
    }

    .swiper-slide {
        text-align: center;
        position: relative;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        img {
            opacity: .7;
            transition: all .5s;
        }

        &::after {
            position: absolute;
            content: '';
            z-index: -1;
            left: 0;
            right: 0;
            top: -10px;
            bottom: -10px;
            background: #3ac2cf;
            opacity: 0;
            transition: all .5s;
        }
    }

    .swiper-slide-active {
        z-index: 1;

        &::after {
            opacity: 1;
            transition: all .5s;
        }

        img {
            opacity: 1;
        }
    }

}