.banner {
  height: 420px;
  position: relative;
}
@media (min-width: 768px) {
  .banner {
    height: 435px;
  }
}
@media (min-width: 992px) {
  .banner {
    height: 660px;
  }
}
@media (min-width: 1199px) {
  .banner {
    height: 660px;
  }
}
@media (min-width: 1440px) {
  .banner {
    height: 840px;
  }
}
@media (min-width: 1760px) {
  .banner {
    height: 1080px;
  }
}
.banner .banner-image img {
  position: absolute;
  top: -60px;
  max-width: 1634px;
  width: 100%;
  margin: 0 auto;
  transform: translate(-50%, 0);
  padding: 0 35px;
  left: 50%;
}
@media (min-width: 992px) {
  .banner .banner-image img {
    top: -80px;
  }
}
@media (min-width: 1199px) {
  .banner .banner-image img {
    top: -120px;
  }
}
@media (min-width: 1760px) {
  .banner .banner-image img {
    top: -140px;
  }
}
.banner .banner-content {
  top: 90px;
  position: absolute;
  z-index: 1;
  left: 15px;
  right: 15px;
}
@media (min-width: 992px) {
  .banner .banner-content {
    top: 260px;
  }
}
.banner .banner-content .banner-copy {
  background: rgba(0, 0, 0, 0.75);
  display: inline-block;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .banner .banner-content .banner-copy {
    width: 570px;
    padding: 20px 30px;
  }
}
.banner .banner-content .banner-copy h1 span {
  color: #47eff8;
}
.banner .banner-content .banner-button {
  max-width: 570px;
  display: flex;
}
@media (min-width: 992px) {
  .banner .banner-content .banner-button {
    justify-content: flex-end;
  }
}
.banner .banner-content .banner-button a {
  background-color: #e2015b;
  color: #fff;
  font-weight: 700;
  padding: 14px 20px;
  display: inline-block;
  box-shadow: 0 0 20px 0 black;
  margin: 30px 50px 0 0;
  letter-spacing: 1px;
  transition: all 0.5s;
  text-decoration: none;
}
.banner .banner-content .banner-button a:hover {
  background-color: #47eff8;
}
.banner h1,
.banner h2 {
  font-weight: 700;
  color: #fff;
  font-size: 17px;
}
@media (min-width: 768px) {
  .banner h1,
.banner h2 {
    font-size: 32px;
  }
}