$dark: #2a2b4b;
$dark2: #292a4b;
$white: #fff;

.banner {
    height: 900px;
    position: relative;

    @media(min-width: 640px) {
        height: 810px;
    }

    @media(max-width: 768px) {
        height: 810px;
    }

    @media(min-width: 992px) {
        height: 900px;
    }

    @media(min-width: 1199px) {
        height: 1080px;
    }

    @media(min-width: 1440px) {
        height: 1080px;
    }

    @media(min-width: 1760px) {
        height: 1080px;
    }

    .banner-image {
        img {
            position: absolute;
            top: -210px;
            max-width: 1634px;
            width: 1634px;
            margin: 0 auto;
            transform: translate(-50%, 0);
            padding: 0 35px;
            left: 50%;

            @media(max-width: 768px) {
                position: relative;
                margin: 100px 0 30px;
                width: 880px;
                top: -190px;
                transform: translateX(-510px);
            }

            @media(min-width: 640px) {}

            @media(min-width: 768px) {
                top: -140px;
                max-width: 1634px;
                width: 1374px;
            }

            @media(min-width: 992px) {
                width: 1464px;
                top: -120px;
            }

            @media(min-width: 1199px) {
                top: 60px;
            }

            @media(min-width: 1440px) {
                top: -40px;
            }

            @media(min-width: 1760px) {
                top: -110px;
            }
        }
    }

    .banner-content {
        top: 130px;
        position: relative;
        z-index: 1;

        // left: 15px;
        // right: 15px;
        @media(min-width: 640px) {}

        @media(min-width: 768px) {}

        @media(min-width: 992px) {}

        @media(min-width: 1199px) {
            top: 190px;
        }

        @media(min-width: 1440px) {
            top: 260px;
        }

        @media(min-width: 1760px) {}

        .banner-copy {
            background: rgba(0, 0, 0, 0.75);
            display: inline-block;
            padding: 0px 30px;
            display: flex;
            align-items: center;

            @media(min-width: 992px) {
                width: 647px;
                padding: 20px 30px;
            }

            h1 {
                span {
                    color: #47eff8;
                }
            }
        }

        .banner-button {
            max-width: 570px;
            display: flex;

            @media(min-width: 992px) {
                justify-content: flex-end;
            }

            a {
                background-color: #e2015b;
                color: #fff;
                font-weight: 700;
                padding: 14px 20px;
                display: inline-block;
                box-shadow: 0 0 20px 0 #000;
                margin: 30px 50px 0 0;
                letter-spacing: 1px;
                transition: all 0.5s;
                text-decoration: none;
                text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);

                @media(min-width: 992px) {
                    margin: 17px 50px 0 0;
                    font-size: 27px;
                    padding: 9px 20px;
                }

                &:hover {
                    background-color: #47eff8;
                }
            }
        }
    }

    h1,
    h2 {
        font-weight: 700;
        color: $white;
        font-size: 17px;

        @media(min-width: 768px) {
            font-size: 37px;
        }
    }
}