footer {
  margin-top: 150px;
  color: #fff;
  padding-bottom: 30px;
  background: transparent !important;
}
footer .title {
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  footer .title {
    text-align: center;
  }
}
footer .title span {
  color: #3ac2cf;
  font-size: 120px;
  font-weight: 700;
}
@media (max-width: 992px) {
  footer .title span {
    font-size: 60px;
  }
}
footer .data {
  color: #fff;
  font-size: 25px;
}
@media (max-width: 992px) {
  footer .data {
    text-align: center;
  }
}
footer .data span {
  color: #3ac2cf;
}
footer .line-content {
  width: auto;
  background: #3ac2cf;
  color: #000;
  font-size: 23px;
  width: 350px;
  text-align: right;
  padding: 23px;
  position: relative;
}
@media (max-width: 992px) {
  footer .line-content {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
footer .line-content:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2000px;
  left: -2000px;
  background: black;
  background: -moz-linear-gradient(90deg, black 84%, #3ac2cf 100%);
  background: -webkit-linear-gradient(90deg, black 84%, #3ac2cf 100%);
  background: linear-gradient(90deg, black 84%, #3ac2cf 100%);
}
footer .social ul {
  padding: 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  footer .social ul {
    justify-content: flex-end;
  }
}
footer .social ul li {
  list-style-type: none;
  margin-left: 20px;
}
@media (max-width: 992px) {
  footer .social ul li {
    margin: 0 20px;
  }
}
footer .social ul li a {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #3ac2cf;
  border-radius: 100px;
}
@media (max-width: 992px) {
  footer .social ul li a {
    width: 40px;
    height: 40px;
  }
}