footer {
    margin-top: 320px;
    color: #fff;
    padding-bottom: 60px;
    background: transparent !important;

    @media(max-width: 992px) {
        margin-top: 0px;
    }

    .title {
        margin-bottom: 90px;

        @media(max-width: 992px) {
            text-align: center;
        }

        span {
            color: #3ac2cf;
            font-size: 120px;
            font-weight: 700;
            mix-blend-mode: exclusion;

            @media(max-width: 992px) {
                font-size: 60px;
            }
        }
    }

    .data {
        color: #fff;
        font-size: 20px;

        @media(min-width: 768px) {
            font-size: 24px;
        }

        @media(min-width: 992px) {
            font-size: 29px;
        }

        @media(min-width: 1199px) {
            font-size: 36px;
        }

        @media(max-width: 992px) {
            text-align: center;
        }

        span {
            color: #3ac2cf;
        }
    }

    .line-content {
        width: auto;
        background: #3ac2cf;
        color: #000;
        font-size: 27px;
        width: 360px;
        text-align: right;
        padding: 34px;
        position: relative;

        @media(min-width: 992px) {
            font-size: 27px;
        }

        @media(max-width: 992px) {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
            font-size: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2000px;
            left: -2000px;
            background: rgb(0, 0, 0);
            background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 84%, rgba(58, 194, 207, 1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 84%, rgba(58, 194, 207, 1) 100%);
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 84%, rgba(58, 194, 207, 1) 100%);
        }
    }

    .social {
        ul {
            padding: 0;
            display: flex;
            justify-content: center;

            @media(min-width: 992px) {
                justify-content: flex-end;
            }

            li {
                list-style-type: none;
                margin-left: 20px;

                @media(max-width: 992px) {
                    margin: 0 20px;
                }

                a {
                    display: block;
                    width: 70px;
                    height: 70px;
                    background-color: #3ac2cf;
                    border-radius: 100px;

                    @media(max-width: 992px) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}