header#hamburger {
    background-color: $white;
    box-shadow: 0 0 20px #00000030;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    padding: .5em 0;

    .navbar-nav {
        justify-content: space-between;
        width: 100%;

        li {
            a {
                color: $dark;
            }
        }
    }
}