/* 
Here will go all custom scss for theme
*/

$dark: #2a2b4b;
$dark2: #292a4b;
$white: #fff;
$all_tr: all .5s;
body {
    font-family: 'Poppins', sans-serif;
    background: url("../image/body-min.jpg");
    background-size: auto;
    background-position: top center;
}

@media(min-width: 1350px) {
    .container {
        max-width: 1320px;
    }
}

// @media(min-width: 1760px) {
//     .container {
//         max-width: 1650px;
//     }
// }
@media(min-width: 1760px) {
    .container {
        max-width: 1450px;
    }
}

@import "header";
@import "banner";
@import "_form";
@import "_box";
@import "_footer";